<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pass2</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.css">
    <style>
        body {
            /*  background-image: url('https://apod.nasa.gov/apod/image/2403/PIA19048europa1024.jpg');*/
            background-image: url("https://picsum.photos/id/234/1600/900");
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
            min-height: 100vh;
        }

        .no-background {
            background-image: none !important;
        }
    </style>

</head>

<body class=" ">

    <div class="flex flex-col min-h-screen items-center w-2/3 mx-auto ">

        <!-- Top Bar -->
        <nav class="w-full shadow-2xl bg-base-100  p-2 text-center rounded-lg">
            <h1 class="text-xl font-semibold">Pass2 - your VPS password manager</h1>
        </nav>
        <!-- Menu Bar -->
        <ul class="menu menu-horizontal shadow-xl bg-base-200 rounded-box mt-6">
            <li>
                <a class="tooltip tooltip-bottom p-4" data-tip="Home">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                    </svg>
                </a>
            </li>
            <li>
                <a class="tooltip tooltip-bottom p-4" data-tip="Details">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </a>
            </li>
            <li>
                <a class="tooltip tooltip-bottom p-4" data-tip="Stats">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
                    </svg>
                </a>
            </li>
        </ul>


        <!-- Main Container -->
        <main class="flex justify-center flex-grow w-full ">
            
                  <!-- Stats -->
      <div class="stats lg:stats-vertical shadow bg-base-100 glass text-black dark:text-white ">
        <div class="stat">
          <div class="stat-figure text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              class="inline-block h-8 w-8 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
          </div>
          <div class="stat-title">Downloads</div>
          <div class="stat-value">31K</div>
          <div class="stat-desc">Jan 1st - Feb 1st</div>
        </div>

        <div class="stat">
          <div class="stat-figure text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              class="inline-block h-8 w-8 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4">
              </path>
            </svg>
          </div>
          <div class="stat-title">New Users</div>
          <div class="stat-value">4,200</div>
          <div class="stat-desc">↗︎ 400 (22%)</div>
        </div>

        <div class="stat">
          <div class="stat-figure text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              class="inline-block h-8 w-8 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"></path>
            </svg>
          </div>
          <div class="stat-title">New Registers</div>
          <div class="stat-value">1,200</div>
          <div class="stat-desc">↘︎ 90 (14%)</div>
        </div>
      </div>

            <div class="p-6 w-2/3  ">
                <div class="overflow-x-auto bg-base-100 glass rounded-lg shadow-lg dark:text-white">
                    <table class="table ">
                        <!-- head -->
                        <thead class="dark:text-white">
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Job</th>
                                <th>Favorite Color</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- row 1 -->
                            <tr class="hover:bg-base-300">
                                <th>1</th>
                                <td>Cy Ganderton</td>
                                <td>Quality Control Specialist</td>
                                <td>Blue</td>
                            </tr>
                            <!-- row 2 -->
                            <tr class="hover:bg-base-300">
                                <th>2</th>
                                <td>Hart Hagerty</td>
                                <td>Desktop Support Technician</td>
                                <td>Purple</td>
                            </tr>
                            <!-- row 3 -->
                            <tr class="hover:bg-base-300">
                                <th>3</th>
                                <td>Brice Swyre</td>
                                <td>Tax Accountant</td>
                                <td>Red</td>
                            </tr>
                            <!-- row 1 -->
                            <tr class="hover:bg-base-300">
                                <th>1</th>
                                <td>Cy Ganderton</td>
                                <td>Quality Control Specialist</td>
                                <td>Blue</td>
                            </tr>
                            <!-- row 2 -->
                            <tr class="hover:bg-base-300">
                                <th>2</th>
                                <td>Hart Hagerty</td>
                                <td>Desktop Support Technician</td>
                                <td>Purple</td>
                            </tr>
                            <!-- row 3 -->
                            <tr class="hover:bg-base-300">
                                <th>3</th>
                                <td>Brice Swyre</td>
                                <td>Tax Accountant</td>
                                <td>Red</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>


        <!-- Login -->
        <div class="hero ">
            <div class="hero-content flex-col lg:flex-row-reverse">
                <div class="text-center lg:text-left ">
                    <h1 class="text-5xl font-bold text-shadow " style="text-shadow: rgb(0, 0, 0) 0px 1px 10px;">Login
                        now!</h1>
                    <p class="py-6 text-shadow " style=" text-shadow: rgb(0, 0, 0) 2px 2px 6px;">Fact: {{ fact }}</p>
                </div>
                <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100 glass">
                    <form class="card-body" method="POST" action="{% url 'home' %}">
                        {% csrf_token %}
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text" style=" text-shadow: rgb(0, 0, 0) 1px 1px 6px;">Username</span>
                            </label>
                            <input type="Username" name="username" class="input input-bordered" required />
                        </div>
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text" style=" text-shadow: rgb(0, 0, 0) 1px 1px 6px;">Password</span>
                            </label>
                            <input type="password" name="password" class="input input-bordered" required />
                            <label class="label">
                                <!-- <a href="#" class="label-text-alt link link-hover">Forgot password?</a> -->
                            </label>
                        </div>
                        <div class="form-control mt-6">
                            <button class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="w-full bg-gray-800 text-white text-center py-4 mt-6 rounded-lg">
            <p>Free to use. Dev by: Iulian Marinescu</p>
        </footer>

    </div>

    </div>

    <!-- scripts -->

</body>

</html>